<title>{{{title}}}</title>
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Theo tuần (28/10/2019 - 3/11/2019) </strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Ngày</th>
                        <th scope="col">Doanh thu</th>
                        <th scope="col">Lợi nhuận</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Thứ hai</th>
                        <td>&#8363;5.000.000</td>
                        <td>&#8363;4.500.000</td>
                    </tr>
                    <tr>
                        <th scope="row">Thứ ba</th>
                        <td>&#8363;5.300.000</td>
                        <td>&#8363;54.800.000</td>
                    </tr>
                    <tr>
                        <th scope="row">Thứ tư</th>
                        <td>&#8363;5.500.000</td>
                        <td>&#8363;5.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">Thứ năm</th>
                        <td>&#8363;6.000.000</td>
                        <td>&#8363;5.500.500</td>
                    </tr>
                    <tr>
                        <th scope="row">Thứ sáu</th>
                        <td>&#8363;5.500.000</td>
                        <td>&#8363;5.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">Thứ bảy</th>
                        <td>&#8363;5.000.000</td>
                        <td>&#8363;4.500.000</td>
                    </tr>
                    <tr>
                        <th scope="row">Chủ nhật</th>
                        <td>&#8363;8.000.000</td>
                        <td>&#8363;7.500.000</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Theo tháng</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tháng</th>
                        <th scope="col">Doanh thu</th>
                        <th scope="col">Lợi nhuận</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>&#8363;50.000.000</td>
                        <td>&#8363;35.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>&#8363;65.000.000</td>
                        <td>&#8363;50.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>&#8363;63.000.000</td>
                        <td>&#8363;54.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>&#8363;80.000.000</td>
                        <td>&#8363;60.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>&#8363;100.000.000</td>
                        <td>&#8363;85.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>&#8363;150.000.000</td>
                        <td>&#8363;123.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>&#8363;250.000.000</td>
                        <td>&#8363;200.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>&#8363;250.000.000</td>
                        <td>&#8363;200.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>&#8363;300.000.000</td>
                        <td>&#8363;260.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>&#8363;275.000.000</td>
                        <td>&#8363;245.000.000</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Theo quý</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Quý</th>
                        <th scope="col">Doanh thu</th>
                        <th scope="col">Lợi nhuận</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>&#8363;400.000.000</td>
                        <td>&#8363;350.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>&#8363;609.000.000</td>
                        <td>&#8363;550.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>&#8363;730.000.000</td>
                        <td>&#8363;650.000.000</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Theo năm</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Năm</th>
                        <th scope="col">Doanh thu</th>
                        <th scope="col">Lợi nhuận</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">2016</th>
                        <td>&#8363;1.000.000.000</td>
                        <td>&#8363;750.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">2017</th>
                        <td>&#8363;1.609.000.000</td>
                        <td>&#8363;1.550.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">2018</th>
                        <td>&#8363;1.730.000.000</td>
                        <td>&#8363;1.650.000.000</td>
                    </tr>
                    <tr>
                        <th scope="row">2019</th>
                        <td>&#8363;1.730.000.000</td>
                        <td>&#8363;1.650.000.000</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>