<title>{{{title}}}</title>
<div class="col-lg-12 col-sm-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Quản lí đơn hàng</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Mã số đơn hàng</th>
                        <th scope="col">Họ tên khách hàng</th>
                        <th scope="col">Ngày nhận</th>
                        <th scope="col">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Nguyễn Văn Hiệu</td>
                        <td>10/10/2019</td>
                        <td>Đang giao</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Xuân Mai</td>
                        <td>30/10/2019</td>
                        <td>Chưa giao</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Đen Đình</td>
                        <td>6/9/2019</td>
                        <td>Đã giao</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Đen Đình</td>
                        <td>1/11/2019</td>
                        <td>Đang giao</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Niko</td>
                        <td>29/10/2019</td>
                        <td>Đã giao</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>