<title>{{{title}}}</title>
<div class="col-lg-12 col-sm-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Quản lí gian hàng</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tên gian hàng</th>
                        <th scope="col">Số mặt hàng</th>
                        <th scope="col">Số lượt mua</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Rau củ</th>
                        <td>20</td>
                        <td>5000</td>
                    </tr>
                    <tr>
                        <th scope="row">Trái cây</th>
                        <td>30</td>
                        <td>4000</td>
                    </tr>
                    <tr>
                        <th scope="row">Hạt, đồ sấy khô</th>
                        <td>12</td>
                        <td>1321</td>
                    </tr>
                    <tr>
                        <th scope="row">Nước ép</th>
                        <td>15</td>
                        <td>1500</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>