<title>{{{title}}}</title>
<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Danh sách tài khoản</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Tên đăng nhập</th>
                            <th>Quyền tài khoản</th>
                            <th>Lần hoạt động gần nhất</th>
                            <th>Tổng giá trị đã mua</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>hieubanhay_9x</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1" selected="selected">Quản trị viên</option>
                                    <option value="2">Nhân viên</option>
                                    <option value="3">Khách hàng</option>
                                </select></td>
                            <td><span class="onlineDot"></span> Đang hoạt động</td>
                            <td>&#8363;320,800</td>
                        </tr>
                        <tr>
                            <td>hieudeptrai_9x</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2">Nhân viên</option>
                                    <option value="3" selected="selected">Khách hàng</option>
                                </select></td>
                            <td>4 giờ trước</td>
                            <td>&#8363;170,750</td>
                        </tr>
                        <tr>
                            <td>hieuprovip_9x</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2" selected="selected">Nhân viên</option>
                                    <option value="3">Khách hàng</option>
                                </select></td>
                            <td>1 ngày trước</td>
                            <td>&#8363;86,000</td>
                        </tr>
                        <tr>
                            <td>hieuvippro_9x</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2" selected="selected">Nhân viên</option>
                                    <option value="3">Khách hàng</option>
                                </select></td>
                            <td><span class="onlineDot"></span> Đang hoạt động</td>
                            <td>&#8363;433,060</td>
                        </tr>
                        <tr>
                            <td>hieucsgo</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2" selected="selected">Nhân viên</option>
                                    <option value="3">Khách hàng</option>
                                </select></td>
                            <td>4 giờ trước</td>
                            <td>&#8363;162,700</td>
                        </tr>
                        <tr>
                            <td>hieudota</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1" selected="selected">Quản trị viên</option>
                                    <option value="2">Nhân viên</option>
                                    <option value="3">Khách hàng</option>
                                </select></td>
                            <td>5 phút trước</td>
                            <td>&#8363;372,000</td>
                        </tr>
                        <tr>
                            <td>danylishutindoto</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2">Nhân viên</option>
                                    <option value="3" selected="selected">Khách hàng</option>
                                </select></td>
                            <td>1 ngày trước</td>
                            <td>&#8363;137,500</td>
                        </tr>
                        <tr>
                            <td>sumaildoto</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2">Nhân viên</option>
                                    <option value="3" selected="selected">Khách hàng</option>
                                </select></td>
                            <td>4 giờ trước</td>
                            <td>&#8363;327,900</td>
                        </tr>
                        <tr>
                            <td>ezgameezlife</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2">Nhân viên</option>
                                    <option value="3" selected="selected">Khách hàng</option>
                                </select></td>
                            <td>1 ngày trước</td>
                            <td>&#8363;205,500</td>
                        </tr>
                        <tr>
                            <td>ramzess666</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2" selected="selected">Nhân viên</option>
                                    <option value="3">Khách hàng</option>
                                </select></td>
                            <td><span class="onlineDot"></span> Đang hoạt động</td>
                            <td>&#8363;103,600</td>
                        </tr>
                        <tr>
                            <td>solo</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1" selected="selected">Quản trị viên</option>
                                    <option value="2">Nhân viên</option>
                                    <option value="3">Khách hàng</option>
                                </select></td>
                            <td>2 giờ trước</td>
                            <td>&#8363;90,560</td>
                        </tr>
                        <tr>
                            <td>nikoFazeUp</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1" selected="selected">Quản trị viên</option>
                                    <option value="2">Nhân viên</option>
                                    <option value="3">Khách hàng</option>
                                </select></td>
                            <td><span class="onlineDot"></span> Đang hoạt động</td>
                            <td>&#8363;342,000</td>
                        </tr>
                        <tr>
                            <td>sasha</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2" selected="selected">Nhân viên</option>
                                    <option value="3">Khách hàng</option>
                                </select></td>
                            <td>1 ngày trước</td>
                            <td>&#8363;470,600</td>
                        </tr>
                        <tr>
                            <td>electronic</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2">Nhân viên</option>
                                    <option value="3">Khách hàng</option>
                                </select></td>
                            <td>2 giờ trước</td>
                            <td>&#8363;313,500</td>
                        </tr>
                        <tr>
                            <td>miracle</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2" selected="selected">Nhân viên</option>
                                    <option value="3">Khách hàng</option>
                                </select></td>
                            <td>2 giờ trước</td>
                            <td>&#8363;385,750</td>
                        </tr>
                        <tr>
                            <td>matumbaman</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2">Nhân viên</option>
                                    <option value="3" selected="selected">Khách hàng</option>
                                </select></td>
                            <td>2 giờ trước</td>
                            <td>&#8363;198,500</td>
                        </tr>
                        <tr>
                            <td>topson</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2">Nhân viên</option>
                                    <option value="3" selected="selected">Khách hàng</option>
                                </select></td>
                            <td>5 phút trước</td>
                            <td>&#8363;725,000</td>
                        </tr>
                        <tr>
                            <td>Notail</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2">Nhân viên</option>
                                    <option value="3" selected="selected">Khách hàng</option>
                                </select></td>
                            <td>5 phút trước</td>
                            <td>&#8363;237,500</td>
                        </tr>
                        <tr>
                            <td>ceb</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2">Nhân viên</option>
                                    <option value="3" selected="selected">Khách hàng</option>
                                </select></td>
                            <td>2 giờ trước</td>
                            <td>&#8363;132,000</td>
                        </tr>
                        <tr>
                            <td>ana</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2">Nhân viên</option>
                                    <option value="3" selected="selected">Khách hàng</option>
                                </select></td>
                            <td><span class="onlineDot"></span> Đang hoạt động</td>
                            <td>&#8363;217,500</td>
                        </tr>
                        <tr>
                            <td>jerax</td>
                            <td><select name="select" id="select" class="form-control">
                                    <option value="0">Chưa phân quyền</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2" selected="selected">Nhân viên</option>
                                    <option value="3">Khách hàng</option>
                                </select></td>
                            <td>5 phút trước</td>
                            <td>&#8363;345,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>