<title>{{{title}}}</title>
<div class="col-lg-12 col-sm-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Top 10 sản phẩm</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên mặt hàng</th>
                        <th scope="col">Gian hàng</th>
                        <th scope="col">Đơn vị tính</th>
                        <th scope="col">Đã bán</th>




                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Nước ép táo</td>
                        <td>Nước ép</td>
                        <td>Lít</td>
                        <td>1200</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Hạt điều</td>
                        <td>Hạt, đồ sấy khô</td>
                        <td>Kg</td>
                        <td>1321</td>


                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Nước ép nho</td>
                        <td>Nước ép</td>
                        <td>lít</td>
                        <td>1200</td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Bắp cải</td>
                        <td>Rau củ</td>
                        <td>Kg</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Dâu tây</td>
                        <td>Trái cây</td>
                        <td>Kg</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Khoai tây</td>
                        <td>Rau củ</td>
                        <td>Kg</td>
                        <td>500</td>


                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Rau dền</td>
                        <td>Rau củ</td>
                        <td>Kg</td>
                        <td>500</td>


                    </tr>

                    <tr>
                        <th scope="row">8</th>
                        <td>Cà chua</td>
                        <td>Rau củ</td>
                        <td>Kg</td>
                        <td>500</td>


                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Tiêu</td>
                        <td>Hạt, đồ sấy khô</td>
                        <td>Kg</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Đậu bắp</td>
                        <td>Rau củ</td>
                        <td>Kg</td>
                        <td>500</td>


                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>